<script id="modal-pop-template" type="text/x-handlebars-template">
  {% raw %}
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-times-circle" aria-hidden="true"></i></span></button>
        <h4 class="modal-title" id="modal-title">
          {{#if cookie}}
          <i class='icon-star' aria-hidden='true' data-toggle='tooltip' title='Location saved'></i>
          {{else}}
          <i class='icon-star-o' aria-hidden='true' data-toggle='tooltip' title='Save location'></i>
          {{/if}}
          {{name}}
          {{#if icons}}
            {{#each icons}}
              <i class="{{this}}"></i>
            {{/each}}
          {{/if}}
        </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-md-8 get-sm">
              <div id="modal-main">
                {{#if address}}
                <p id='modal-address'><i class='icon-map-marker' aria-hidden='true'></i>&nbsp; {{address}}</p>
                <p class="modal-directions"><a href="http://maps.google.com/?q=' + data.address + '" target="_blank">GET DIRECTIONS</a></p>
                {{/if}}
                {{#if phone}}
                <p id='modal-phone'><i class='icon-phone' aria-hidden='true'></i>&nbsp; {{phone}}</p>
                {{/if}}
                {{#if hours}}
                <p><i class='icon-calendar' aria-hidden='true'></i>&nbsp; {{hours}}</p>
                {{/if}}
                {{#if url}}
                <p id='modal-site'><a href="{{url}}" target='_blank'><i class='icon-reply' aria-hidden='true'></i>&nbsp; Website</a></p>
                {{/if}}
              </div>
            </div>
            <div class="col-md-4 hidden-xs hidden-s" id="modal-image"></div>
          </div>
          <div class="row modal-bottom">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12 get-sm">
                  {{#if notes}}
                  <h4 id="notes-header">Notes</h4>
                  <div id="notes-subsection">
                    <p>{{notes}}</p>
                  </div>
                  {{/if}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 get-sm">
                  <h4 id="type-header"></h4>
                  <div id="type-subsection"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 get-sm">
                  {{#if restrictions}}
                  <h4 id="restrictions-header">Restrictions</h4>
                  <div id="restrictions-subsection">
                    <!-- {{#if flags}}
                      {{#each flags}}
                      <span>
                       {{#if icon}}
                        <i class="{{icon}}"></i>
                       {{/if}}
                       {{flag}}
                       </span>
                       <br>
                    {{/each}}
                    {{/if}} -->
                    <p>{{restrictions}}</p>
                  </div>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body modal-body-bottom">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <button type="button" class="btn btn-change" id="copy-button" data-clipboard-target="#post-shortlink" data-tooltip="true" title="Copy to clipboard"><i class="icon-clipboard" aria-hidden="true"></i></button>
                <input id="post-shortlink" type="text" class="form-control">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endraw %}
</script>

<script id="modal-guide-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="icon-times-circle" aria-hidden="true"></i></span></button>
        <h4 class="modal-title" id="modal-title">View, Download Re-Entry Guide</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div class="col-md-8 get-sm">
              <div id="modal-main">
                <p>The full IRGI re-entry guide can be downloaded/viewed online, but be
                aware if you're using a data plan that it takes several MB.<p>
                <br>
                <a href="{{site.guide_link}}" class='btn btn-reset' data-toggle="tooltip" data-placement="bottom" title="Download Guide">
                  <i class="icon-reply" aria-hidden="true"></i> Go to Re-Entry Guide
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<div class="modal fade bd-example-modal-lg" id="modal-pop" tabindex="-1" role="dialog"></div>
